@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  min-width: 1200px; }

.clearfix:after {
  display: block;
  clear: both;
  content: ''; }

.box {
  width: 100%; }
  .box .xiala-list2 {
    float: right;
    padding: 10px 0; }
    .box .xiala-list2 span {
      font-family: "微软雅黑";
      color: #717171;
      font-size: 14px; }
    .box .xiala-list2 img {
      width: 14px;
      height: 8px;
      padding-left: 4px; }
  .box .xiala {
    margin: 0 auto;
    width: 1200px;
    height: 101px; }
    .box .xiala a {
      color: #363636;
      font-size: 16px;
      font-family: "微软雅黑"; }
    .box .xiala .xiala-tu {
      margin-top: 24px;
      float: left;
      padding-right: 390px; }
    .box .xiala .yhzx li {
      position: relative; }
      .box .xiala .yhzx li .yonghu {
        width: 145px;
        position: absolute;
        top: 30px;
        right: 0px;
        background: white;
        border: 1px solid #9C9C9E;
        z-index: 3456;
        display: none; }
        .box .xiala .yhzx li .yonghu ol {
          padding: 10px; }
          .box .xiala .yhzx li .yonghu ol li {
            line-height: 35px; }
    .box .xiala .yhzx li:hover .yonghu {
      display: block; }
    .box .xiala .xiala-list3 {
      position: relative;
      top: -39px; }
    .box .xiala .xiala-list1 {
      color: #2087FD; }
    .box .xiala .xiala-list4 {
      z-index: 1; }
      .box .xiala .xiala-list4 li {
        margin-left: 40px;
        margin-right: 40px; }
      .box .xiala .xiala-list4 li:nth-child(1) {
        margin-top: 22px;
        color: #363636;
        font-size: 14px;
        font-family: "微软雅黑";
        padding-bottom: 10px;
        border-bottom: 1px solid #A7A7A7; }
      .box .xiala .xiala-list4 li:nth-child(2) {
        margin-top: 26px;
        color: #363636;
        font-size: 14px;
        font-family: "微软雅黑";
        padding-bottom: 12px; }
      .box .xiala .xiala-list4 li:nth-child(3) {
        color: #9D9D9D;
        font-size: 12px;
        font-family: "微软雅黑";
        padding-bottom: 22px; }
      .box .xiala .xiala-list4 li:nth-child(4) {
        color: #363636;
        font-size: 14px;
        font-family: "微软雅黑";
        padding-bottom: 14px; }
      .box .xiala .xiala-list4 li:nth-child(5) {
        color: #9D9D9D;
        font-size: 12px;
        font-family: "微软雅黑";
        padding-bottom: 22px; }
      .box .xiala .xiala-list4 li:nth-child(6) {
        color: #2087FD;
        font-size: 14px;
        font-family: "微软雅黑";
        padding-bottom: 12px; }
      .box .xiala .xiala-list4 li:nth-child(7) {
        color: #9D9D9D;
        font-size: 12px;
        font-family: "微软雅黑"; }
    .box .xiala .one {
      float: left;
      margin-top: 48px;
      padding-left: 36px;
      position: relative;
      z-index: 234;
      padding-bottom: 20px; }
      .box .xiala .one ul {
        display: none;
        background: #F2F2F2;
        height: 276px;
        width: 480px;
        position: absolute;
        top: 34px;
        left: -3px; }

#banner {
  width: 100%;
  position: relative;
  overflow: hidden; }
  #banner #banner-box {
    position: absolute; }
    #banner #banner-box li {
      float: left;
      list-style: none; }
      #banner #banner-box li a {
        display: block;
        width: 100%;
        height: 100%; }
        #banner #banner-box li a img {
          width: 100%; }
  #banner ol {
    width: 100px;
    height: 10px;
    position: absolute;
    left: 47%;
    bottom: 10px;
    list-style: none; }
    #banner ol li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ccc;
      float: left;
      margin-right: 2px;
      margin: 0 6px; }
    #banner ol .on {
      background: #fff; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

.faxedd {
  position: fixed;
  right: 0;
  top: 180px; }

.content {
  margin-top: 64px;
  width: 100%; }
  .content .content-bottom {
    width: 1200px;
    margin: 0 auto; }
    .content .content-bottom .content-text {
      position: relative;
      text-align: center;
      color: #666666; }
      .content .content-bottom .content-text p {
        font-size: 14px;
        color: #666666;
        margin-top: 12px; }
      .content .content-bottom .content-text p:nth-of-type(2) {
        margin-top: 28px; }
      .content .content-bottom .content-text .content-line1 {
        position: absolute;
        top: 15px;
        left: 100px; }
      .content .content-bottom .content-text .content-line2 {
        position: absolute;
        top: 15px;
        right: 100px; }
      .content .content-bottom .content-text .content-box {
        margin-top: 50px;
        height: 510px; }
        .content .content-bottom .content-text .content-box .content-box1 {
          float: left;
          margin-left: 58px;
          width: 320px;
          height: 508px;
          border: 1px solid #e7e8e9; }
          .content .content-bottom .content-text .content-box .content-box1 p {
            line-height: 24px;
            margin-left: 42px;
            text-align: initial;
            width: 240px; }
          .content .content-bottom .content-text .content-box .content-box1 .newIndex-content-set {
            width: 150px;
            height: 38px;
            background: #FF4400;
            font-size: 14px;
            text-align: center;
            line-height: 38px;
            border-radius: 4px;
            margin-left: 84px;
            margin-top: 30px; }
            .content .content-bottom .content-text .content-box .content-box1 .newIndex-content-set a {
              color: white; }
          .content .content-bottom .content-text .content-box .content-box1 .newIndex-content-set-1 {
            width: 150px;
            height: 38px;
            background: white;
            font-size: 14px;
            text-align: center;
            line-height: 38px;
            border-radius: 4px;
            margin-left: 84px;
            margin-top: 30px;
            border: 1px solid #ff9412; }
            .content .content-bottom .content-text .content-box .content-box1 .newIndex-content-set-1 a {
              color: #ff9412; }
          .content .content-bottom .content-text .content-box .content-box1 img {
            margin-top: 12px; }
          .content .content-bottom .content-text .content-box .content-box1 h1 {
            margin-top: 42px; }
    .content .content-bottom .content-jing {
      text-align: center;
      position: relative;
      height: 458px;
      margin: 0 auto;
      margin-top: 124px; }
      .content .content-bottom .content-jing .content-line1 {
        position: absolute;
        top: 15px;
        left: 100px; }
      .content .content-bottom .content-jing .content-line2 {
        position: absolute;
        top: 15px;
        right: 100px; }
      .content .content-bottom .content-jing .jingdian-ul {
        width: 1200px;
        margin: 0 auto;
        position: relative;
        top: 64px; }
        .content .content-bottom .content-jing .jingdian-ul .content {
          width: 1092px;
          margin: 0 auto;
          overflow: hidden; }
        .content .content-bottom .content-jing .jingdian-ul ul {
          position: relative; }
          .content .content-bottom .content-jing .jingdian-ul ul li {
            float: left;
            width: 320px;
            height: 210px;
            margin: 0 20px;
            position: relative; }
            .content .content-bottom .content-jing .jingdian-ul ul li p {
              width: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              background: #000;
              opacity: 0.4;
              color: white;
              padding-top: 10px;
              padding-bottom: 10px;
              text-align: center; }
            .content .content-bottom .content-jing .jingdian-ul ul li .b {
              position: absolute;
              top: 70px;
              left: 130px;
              display: none; }
          .content .content-bottom .content-jing .jingdian-ul ul li:hover {
            opacity: 0.9; }
            .content .content-bottom .content-jing .jingdian-ul ul li:hover .b {
              display: block; }
        .content .content-bottom .content-jing .jingdian-ul button {
          outline: none;
          border: none; }
        .content .content-bottom .content-jing .jingdian-ul .left {
          position: absolute;
          top: 76px;
          left: -6px;
          width: 60px;
          height: 60px;
          background: #57A9EF;
          border-radius: 50%;
          text-align: center;
          line-height: 58px;
          font-size: 35px;
          cursor: pointer;
          border: 1px solid white;
          color: white; }
        .content .content-bottom .content-jing .jingdian-ul .right {
          position: absolute;
          top: 76px;
          right: -6px;
          width: 60px;
          height: 60px;
          color: white;
          background: #E6E6E6;
          border-radius: 50%;
          text-align: center;
          line-height: 58px;
          font-size: 35px;
          cursor: pointer;
          border: 1px solid white; }
    .content .content-bottom .content-hzmt {
      text-align: center;
      height: 550px;
      margin: 0 auto;
      position: relative; }
      .content .content-bottom .content-hzmt .content-line1 {
        position: absolute;
        top: 15px;
        left: 100px; }
      .content .content-bottom .content-hzmt .content-line2 {
        position: absolute;
        top: 15px;
        right: 100px; }
      .content .content-bottom .content-hzmt p {
        margin-top: 12px; }
      .content .content-bottom .content-hzmt .content-he ul {
        margin-left: 23px;
        margin-top: 50px; }
        .content .content-bottom .content-hzmt .content-he ul li {
          float: left;
          width: 228px;
          height: 84px;
          border: 1px dashed #ccc; }
          .content .content-bottom .content-hzmt .content-he ul li img {
            margin-top: 30px; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(1) {
          border-top: none;
          border-left: none;
          border-bottom: none; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(2) {
          border-top: none;
          border-left: none;
          border-bottom: none; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(3) {
          border-top: none;
          border-left: none;
          border-bottom: none; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(4) {
          border: none; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(5) {
          border-top: none;
          border-right: none;
          border-bottom: none; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(6) {
          border-left: none;
          border-bottom: none; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(7) {
          border-left: none;
          border-bottom: none; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(8) {
          border-left: none;
          border-bottom: none; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(9) {
          border-left: none;
          border-bottom: none; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(10) {
          border-left: none;
          border-right: none;
          border-bottom: none; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(11) {
          border-left: none;
          border-bottom: none; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(12) {
          border-left: none;
          border-bottom: none; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(13) {
          border-left: none;
          border-bottom: none; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(14) {
          border-left: none;
          border-bottom: none; }
        .content .content-bottom .content-hzmt .content-he ul li:nth-of-type(15) {
          border-left: none;
          border-bottom: none;
          border-right: none; }

footer {
  background: #212425;
  width: 100%; }
  footer a {
    font-family: "微软雅黑";
    font-size: 14px;
    color: #c7c9c9; }
  footer a:hover {
    color: #2288F6;
    border-bottom: 1px solid #2288F6; }
  footer .foo {
    margin: 0 auto;
    width: 1200px;
    height: 168px; }
    footer .foo .l-foo {
      float: left;
      margin-top: 50px;
      margin-left: 200px;
      margin-right: 50px; }
      footer .foo .l-foo li {
        float: left;
        padding: 0 15px 0 14px;
        border-right: 1px solid lightgray;
        font-size: 14px; }
      footer .foo .l-foo .list2 {
        color: #296CBC;
        text-decoration: underline; }
      footer .foo .l-foo .list3 {
        border-right: none; }
    footer .foo .r-foo {
      padding-top: 46px; }
      footer .foo .r-foo img {
        width: 28px;
        height: 20px; }
      footer .foo .r-foo span {
        font-size: 20px;
        color: #888888;
        font-family: "微软雅黑"; }
    footer .foo .line {
      border-bottom: 2px solid #888888;
      padding-top: 13px;
      width: 1075px;
      margin: 0 auto; }
    footer .foo .foo-wen {
      padding-top: 16px;
      margin: 0 auto 0 350px; }
      footer .foo .foo-wen p {
        font-size: 14px;
        color: #888888;
        font-family: "微软雅黑"; }
