.box .xiala {
    margin: 0 auto;
    width: 1200px;
    height: 101px; }
.box .xiala .xiala-tu {
      margin-top: 24px;
      float: left;
      padding-right: 390px; }
      .box .xiala .xiala-tu  img{
      	width: 221px;
      	height: 62px;
      }
.footer{
	background: #212425;
	padding-top: 50px;
	padding-bottom: 58px;
}

footer {
  background: #212425;
  width: 100%; }
  footer a {
    font-family: "微软雅黑";
    font-size: 14px;
    color: #c7c9c9; }
  footer a:hover {
    color: #2288F6;
    border-bottom: 1px solid #2288F6; }
  footer .foo {
    margin: 0 auto;
    width: 1200px;
    height: 168px; }
    footer .foo .l-foo {
      float: left;
      margin-top: 50px;
      margin-left: 200px;
      margin-right: 50px; }
      footer .foo .l-foo li {
        float: left;
        padding: 0 15px 0 14px;
        border-right: 1px solid lightgray;
        font-size: 14px; }
      
      footer .foo .l-foo .list3 {
        border-right: none; }
    footer .foo .clearfix:after {
      display: block;
      clear: both;
      content: ""; }
    footer .foo .r-foo {
      padding-top: 46px; }
      footer .foo .r-foo img {
        width: 28px;
        height: 20px; }
      footer .foo .r-foo span {
        font-size: 20px;
        color: #888888;
        font-family: "微软雅黑"; }
    footer .foo .line {
      border-bottom: 2px solid #888888;
      padding-top: 13px;
      width: 1075px;
      margin: 0 auto; }
    footer .foo .foo-wen {
      padding-top: 16px;
      margin: 0 auto 0 350px; }
      footer .foo .foo-wen p {
        font-size: 14px;
        color: #888888;
        font-family: "微软雅黑"; }
.main{
	background: #fafafa;
	padding-top: 52px;
	padding-bottom: 120px;
}
.main .main-box{
	width: 1200px;
	margin:0 auto;
	border: 1px solid #d9d9d9;
	background: #fff;
	padding-bottom:109px;
}
.main .main-box .ret-password{
	width: 590px;
	
	margin: 40px auto;
	
}
.ret-password h2{
	font-size: 24px;
	text-align: center;
	margin-bottom: 54px;
}
.ret-password>li{
	width: 590px;
	height:40px;
	margin-bottom: 20px;
}
.ret-password>li>div{
	float: left;
	height: 40px;
	line-height: 40px;
}
.ret-password>li img{
	vertical-align: middle;
}
.ret-password>li .img{
	margin-left: 12px;
}
.ret-password>li a{
	margin-right: 24px;
	display: inline-block;
	color: #298cf6;
}
.ret-password>li .input{
	border:1px solid #ccc;
	width: 178px;
	height: 38px;
	border-radius: 4px;
	margin-right: 24px;
	
}
.ret-password>li .input2{
	border:1px solid #ccc;
	width: 368px;
	height: 38px;
	border-radius: 4px;
	outline: none;
	color: #999;
}
.ret-password>li>div:nth-of-type(1){
	width: 96px;
	padding-right:24px ;
	text-align: right;
	color: #666;
}
.ret-password>li .btn{
	width: 163px;
	height: 44px;
	border-radius: 4px;
	border:1px solid #ccc;
	background: #f4f4f4;

}

.ret-password>li.list0{
	margin-bottom: 0;
}
.list{
	width: 370px;
	margin-left: 118px;
	
}
.list input{
	width: 370px;
}
.list p{
	width: 370px;
}
i{color:red;padding-right: 5px;}

.ret-password .p{
	padding-top: 4px;
}
.ret-password>li .p a:nth-of-type(1){
	float: left;
	color: #c1c1c1;
	text-decoration: underline;
	margin-right: 0;
}
.ret-password>li .p a:nth-of-type(2){
	float: right;
	color: #c1c1c1;
	margin-right: 0;
	
	
}